@font-face {
    src: url(fonts/PoorStory-Regular.ttf);
    font-family: poor-story;
}

.list-recipes {
    color: rgb(255, 255, 255);
    font-family: poor-story, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;
}
.list-recipes-bullet {
    color: rgb(255, 255, 255);
    font-size: 25px;
}
.h1-main {
    text-align: center;
    font-size: 40px;
    color: rgb(255, 255, 255);
    font-family: poor-story, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.html-main {
    font-family: 'Times New Roman', Times, serif;
    background: url(images/bakery-oven) no-repeat center fixed;
    background-color: rgb(92, 69, 26)
}
.html-recipes-page {
    background-color: rgb(129, 94, 28);
    font-family: 'Times New Roman', Times, serif;
}
