@font-face {
    src: url(fonts/PoorStory-Regular.ttf);
    font-family: poor-story;
}
/* ----------shared----------*/
body {
    font-family: poor-story, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
/* ----------main page styles---------- */
.html-main {
    background: url(images/bakery-oven) no-repeat center fixed;
    background-color: rgb(92, 69, 26);
}
.h1-main {
    text-align: center;
    font-size: 40px;
    color: rgb(255, 255, 255);
}
.list-recipes {
    color: rgb(255, 255, 255);
    font-size: 25px;
}
.list-recipes-bullet {
    color: rgb(255, 255, 255);
    font-size: 25px;
}
/* ----------recipes page styles---------- */
.html-recipes-page {
    background-color: rgb(129, 94, 28);
    color: white;
}
.h1-recipes {
    text-align: center;
}
h3 {
    font-size: 24px;
}
p {
    font-size: 24px;
}
li {
    font-size: 20px;
}
