@font-face {
    src: url(fonts/PoorStory-Regular.ttf);
    font-family: poor-story;
}

.list-recipes {
    color: rgb(136, 88, 0);
    font-family: poor-story, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;
}
.list-recipes-bullet {
    color: rgb(136, 88, 0);
    font-size: 25px;
}
.h1-main {
    text-align: center;
    font-size: 40px;
    color: rgb(54, 9, 9);
    font-family: poor-story, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
    font-family: 'Times New Roman', Times, serif;
}